body {
  background-color: #ff8000;
}

header img {
  height: 32px;
  margin: 8px;
}

main {
  font-family: "Raleway";
  font-size: 16px;
  display: flex;
}

.bestellMain {
  width: calc(100% - 300px);
  height: 1500px;
  background-color: whitesmoke;
}

.mainImage {
  height: 100px;
  background-image: url("./assets/img/main.jpg");
  background-size: cover;
  background-position: center;
}

.basketWrapper {
  flex-grow: 1;
  width: 300px;
}

.basketMain {
  width: 100%;
  height: 400px;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.3);
}

.rating {
  color: #ff8000;
  padding: 10px 0 10px;
}

.whereAmI {
  height: 50px;
  width: 100%;
  background-color: rgb(223, 218, 212);
  display: flex;
  align-items: center;
  padding: 8px;
}

.whereAmI img {
  height: 24px;
}

.mainCourseImage {
  height: 80px;
  background-image: url("./assets/img/hauptgericht.jpg");
  background-size: cover;
  background-position: center;
}

.dishes {
  width: calc(100% - 16px);
  border: 1px solid lightgray;
  margin: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.dishes img {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: 1px solid lightgray;
}

.basketMain h2 {
  padding: 20px;
  border: 1px solid lightgray;
}

.emptyBasket {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.emptyBasket img {
  height: 72px;
  padding: 16px;
}

.dishEntryInBasket {
  padding: 12px;
  text-align: left;
}

.dishEntryInBasket h4 {
  padding-bottom: 8px;
}

.dishEntryInBasket img {
  height: 24px;
}

.amountsPrice {
  display: flex;
  justify-content: space-around;
}

