body {
  background-color: #ff8000;
  font-family: "Raleway";
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  padding-left: 16px;
}

header img {
  height: 40px;
  margin: 8px;
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fill-available;
  display: flex;
}

.bestellMain {
  width: calc(100% - 300px);
  /* min-height: 1400px; */
  background-color: whitesmoke;
  max-width: 1440px;
}

.bestellMain h2 {
  padding-left: 16px;
}

.bestellMain h3 {
  padding-left: 16px;
}

.mainImage {
  height: 100px;
  background-image: url("./assets/img/main.jpg");
  background-size: cover;
  background-position: center;
}

.basketWrapper {
  /* flex-grow: 1; */
  width: 300px;
}

.basketMain {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.3);
}

.rating {
  color: #ff8000;
  padding: 10px 0 10px 16px;
}

.whereAmI {
  height: 50px;
  width: 100%;
  background-color: rgb(223, 218, 212);
  display: flex;
  align-items: center;
  padding: 8px;
  padding-left: 16px;
}

.whereAmI img {
  height: 24px;
}

.whereAmI h3 {
  padding-left: 16px;
}

.mainCourseImage {
  height: 80px;
  background-image: url("./assets/img/hauptgericht.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 16px;
}

.dishes {
  width: calc(100% - 24px);
  border: 1px solid lightgray;
  margin: 8px 8px 8px 16px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.dishes img {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: 1px solid lightgray;
}

.dishesTitle {
  font-weight: bold;
  padding-bottom: 10px;
}

.dishesPrice {
  color: #ff8000;
  font-weight: bold;
  padding-top: 10px;
}

.basketMain h2 {
  padding-top: 20px;
}

.basketMain p {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.emptyBasket {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.emptyBasket img {
  height: 72px;
  padding: 16px;
}

.dishEntryInBasket {
  padding: 12px;
  text-align: left;
}

.dishEntryInBasket h4 {
  padding-bottom: 8px;
}

.dishEntryInBasket img {
  height: 24px;
}

.amountsPrice {
  display: flex;
  justify-content: space-around;
}

.BasketFooter {
  border-top: 2px solid rgba(218, 208, 176, 0.5);
}
.BasketFooter table {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.tdRight {
  text-align: right;
}

.tdLeft {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.responsiveFooter {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#overlayBasket {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
  z-index: 0;
  cursor: pointer;
}

footer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: lightgray;
  margin-top: auto;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialog {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  background-color: rgba(255, 128, 0, 0.9);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dialog p {
  color: whitesmoke;
  font-size: larger;
  font-weight: 700;
}

.dialogHeader {
  width: 80%;
  position: inherit;
  top: 4%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: whitesmoke;
}

.dialogClose {
  font-size: 36px;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 769px) {
  .responsiveFooter {
    display: none;
  }
}

@media (max-width: 769px) {
  .basketWrapper {
    display: none;
  }

  .bestellMain {
    width: 100%;
  }
}
