body {
  background-color: #ff8000;
}

header img {
  height: 32px;
  margin: 8px;
}

main {
  width: 99%;
  display: flex;
  justify-content: right;
}

.bestellMain {
  background-color: whitesmoke;
  flex: 1;
}

.mainImage {
  height: 80px;
  background-image: url("./assets/img/main.jpg"); */
  background-size: cover;
  background-position: center;
}

.basketMain {
  background-color: whitesmoke;
  width: 240px;
  height: 100vh;
  text-align: center;
}
