/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/raleway-v34-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/raleway-v34-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.orderButton {
  background-color: #ff8000;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Arial;
  padding: 16px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #eb9c12;
}

.orderButton:hover {
  background-color: #5cbf2a;
}

.orderButton:active {
  position: relative;
  top: 1px;
}

.closeButton {
  background-color: #ff8000;
  border-radius: 24px;
  /* display: inline-block; */
  cursor: pointer;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial;
  padding: 16px 16px;
  text-decoration: none;
  /* text-shadow: 1px 1px 0px #eb9c12; */
}

.closeButton:hover {
  background-color: #5cbf2a;
}

.closeButton:active {
  position: relative;
  top: 1px;
}
